@font-face {
  font-family: Inter;
  src: url(../font/Inter-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

html h1, html h2, html h3, html p {
  font-family: Inter;
}

nav {
  background-color: #526bfc38;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

nav ul li {
  list-style-type: none;
  font-family: Inter;
  font-weight: 300;
}

nav ul li a:link, nav ul li a:visited {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li a:hover {
  text-shadow: 1px 1px 15px #ff4747bb;
}

.auto_name {
  text-align: center;
  font-family: Inter;
}

.grey_line {
  background-color: rgba(177, 177, 177, 0.788);
  color: black;
  padding: 2vw;
  margin: 5vh -8px;
  font-family: Inter;
}

.front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.front .front1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.front .front1 img {
  width: 80vw;
  border-radius: 2vw;
}

.front .front2-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.front .front2-3 img {
  width: 36vw;
  padding: 2vw;
  border-radius: 3vw;
}

.front .front2-3-renault {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.front .front2-3-renault img {
  width: 36vw;
  height: 25vw;
  padding: 2vw;
  border-radius: 3vw;
}

.inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inside img {
  margin: 5vh auto;
  border-radius: 3vw;
}

.characteristics {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}

.characteristics tr td {
  padding: 2vw 3vw;
  border: 1px solid black;
}

.characteristics tr td p:first-child {
  color: grey;
}

.characteristics-table-2 {
  margin: 5vw auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.characteristics-table-2 .char1 {
  margin: 0 2vw;
}

.characteristics-table-2 img {
  width: 20vw;
  border-radius: 1vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  margin: auto;
}

.characteristics-table-2 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 1px 1px 15px rgba(14, 13, 13, 0.658);
          box-shadow: 1px 1px 15px rgba(14, 13, 13, 0.658);
}

.characteristics-table-2 .maserati {
  width: 15vw;
}

.price {
  margin-left: 2vw;
}

.consult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.consult h1 {
  text-align: center;
  font-family: Inter;
  font-weight: bold;
}

.consult hr {
  width: 15vw;
  border: 1px solid grey;
  background-color: grey;
}

.consult .form_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consult .form_content img {
  width: 40vw;
  border-radius: 3vw;
}

.consult .form_content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(83, 155, 250, 0.035);
  border-radius: 3vw;
  padding: 4vw;
}

.consult .form_content form h2 {
  font-family: Inter;
  font-weight: 500;
  text-align: center;
}

.consult .form_content form input[type="text"] {
  font-family: Inter;
  border-radius: 0.7vw;
  margin: 0.5vw;
  background-color: #4763ff17;
  border: none;
  color: #7a7979;
  outline: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.consult .form_content form input[type="text"]:hover {
  outline: 1px solid #4763ff7a;
}

.consult .form_content form input[type="text"]:focus {
  outline: 1px solid #4763ff;
}

.consult .form_content form input[type="submit"] {
  font-family: Inter;
  padding: 1vw;
  border-radius: 0.7vw;
  margin: 2vw 0.5vw;
  background-color: #4763ff;
  border: none;
  color: #fcfcfc;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.consult .form_content form input[type="submit"]:hover {
  background-color: #3654fa;
}

.consult .form_content form input[type="submit"]:active {
  background-color: #0d2ee9;
}

.location {
  margin: 10vh -0.45vw 0 -0.45vw;
  padding: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #F4F4F4;
}

.location .text_content h1 {
  font-family: Inter;
}

.location .text_content h2 {
  font-family: Inter;
  font-weight: 500;
  color: #7a7979;
}

.location img {
  border-radius: 1.5vw;
  outline: 2px solid #d4d3d3ad;
  -webkit-box-shadow: 0 0 15px #57555546;
          box-shadow: 0 0 15px #57555546;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: white;
  margin: 0 -8px -1vh -8px;
  padding-bottom: 4vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer span {
  padding-bottom: 0.7vw;
}

footer h3, footer span {
  font-family: Inter;
  font-weight: 100;
}

footer span img {
  margin: 0 3px -5px 0;
}

footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 760px) {
  nav {
    margin: -5px;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  nav ul li {
    font-size: 4.5vw;
    margin: 2vw 0;
  }
  nav ul li:last-child {
    padding-bottom: 5vw;
  }
  nav ul li img {
    display: none;
    width: 40vw;
    margin: -2vh 0 0 -12vw;
  }
  .auto_name {
    font-size: 6vw;
  }
  .grey_line {
    font-size: 4vw;
  }
  .front .front2-3 {
    display: none;
  }
  .inside img {
    width: 80vw;
  }
  .cars h1 {
    margin-bottom: 10vh;
  }
  .characteristics tr td p:first-child {
    font-size: 3vw;
  }
  .characteristics tr td P {
    font-size: 3vw;
  }
  .characteristics-table-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .characteristics-table-2 img {
    width: 60vw;
    margin: 8vw auto;
    border-radius: 5vw;
  }
  .characteristics-table-2 h2 {
    font-size: 6vw;
  }
  .characteristics-table-2 p {
    font-size: 4vw;
  }
  .price {
    font-size: 5.5vw;
  }
  .partners {
    margin: 5vh 0 0 0;
  }
  .consult {
    margin-top: 15vh;
  }
  .consult h1 {
    font-size: 6vw;
  }
  .consult h2 {
    margin-bottom: 10vw;
  }
  .consult img {
    display: none;
  }
  .consult .form_content form h2 {
    font-size: 5vw;
  }
  .consult .form_content form input[type="text"] {
    font-size: 3vw;
    padding: 2vw;
  }
  .consult .form_content form input[type="submit"] {
    font-size: 4vw;
    margin-top: 3vw;
  }
  .location {
    padding-bottom: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .location h1 {
    font-size: 5vw;
  }
  .location h2 {
    font-size: 3vw;
  }
  .location .location-img {
    width: 70vw;
    display: block;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer img {
    width: 5vw;
  }
  footer .dark_logo {
    width: 50vw;
  }
  footer .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  footer .contacts h3:first-child {
    font-size: 4vw;
    margin-bottom: 6vw;
  }
  footer .contacts h3, footer .contacts span {
    font-size: 3vw;
    margin: 0;
  }
  footer .social-media {
    margin-top: 5vw;
    margin-bottom: -2px;
  }
  footer .social-media span {
    font-size: 3vw;
  }
}

@media (min-width: 760px) {
  nav {
    margin: -20px -8px 0 -8px;
    padding: 0;
  }
  nav li {
    font-size: 1.25vw;
  }
  nav li img {
    width: 20vw;
    margin: 0 0 0 -5vw;
  }
  .auto_name {
    font-size: 5vw;
  }
  .grey_line {
    font-size: 1.5vw;
  }
  .cars h1 {
    margin-bottom: 20vh;
  }
  .inside img {
    width: 60vw;
  }
  .characteristics tr td p:first-child {
    font-size: 1vw;
  }
  .characteristics tr td P {
    font-size: 1.5vw;
  }
  .characteristics-table-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .characteristics-table-2 img {
    width: 20vw;
  }
  .characteristics-table-2 h2 {
    font-size: 2vw;
  }
  .characteristics-table-2 p {
    font-size: 1vw;
  }
  .price {
    font-size: 2.5vw;
  }
  .partners {
    margin: 10vh 0 0 0;
  }
  .consult {
    margin: 20vh 0 0 0;
  }
  .consult h1 {
    font-size: 2.5vw;
  }
  .consult hr {
    margin-bottom: 10vh;
  }
  .consult h2 {
    margin-bottom: 5vh;
  }
  .consult .form_content form h2 {
    font-size: 2vw;
  }
  .consult .form_content form input[type="text"] {
    font-size: 1vw;
    padding: 1vw;
  }
  .consult .form_content form input[type="submit"] {
    font-size: 1vw;
  }
  .location h1 {
    font-size: 2.5vw;
  }
  .location h2 {
    font-size: 1.25vw;
  }
  .location .location-img {
    width: 40vw;
    margin-left: 10vw;
  }
  footer img {
    width: 1.5vw;
  }
  footer .dark_logo {
    width: 20vw;
  }
  footer h3, footer span {
    font-size: 1vw;
  }
}
/*# sourceMappingURL=mercedec.css.map */